[submodule "SOCVR.Net"]
	path = SOCVR.Net
	url = git@github.com:SO-Close-Vote-Reviewers/SOCVR.Net.git
	branch = master
[submodule "ChatExchange.Net"]
	path = ChatExchange.Net
	url = git@github.com:ArcticEcho/ChatExchange.Net.git
	branch = master
