 
socvr-chatbot-postgresql-data:
  image: postgres:latest
  container_name: socvr-chatbot-postgresql-data
  entrypoint: /bin/true
  volumes:
    - /var/lib/postgres/data
 
socvr-chatbot-postgresql:
  image: postgres:latest
  container_name: socvr-chatbot-postgres
  environment:
    POSTGRES_PASSWORD: 'chatbot'
    POSTGRES_USER: 'chatbot'
    POSTGRES_DB: 'cv-chatbot2'
  ports:
    - 5432
  volumes_from:
    - socvr-chatbot-postgresql-data
 
socvr-chatbot:
  image: socvr/chatbot
  container_name: socvr-chatbot
  environment:
    DatabaseConnectionString: 'Server=db-container;Port=5432;Database=cv-chatbot2;User Id=chatbot;Password=chatbot;'
    
    LoginEmail: 'email_address'
    LoginPassword: 'email_password'
    ChatRoomUrl: 'url'
    
    DefaultCompletedTagsPeopleThreshold: 3
    MaxFetchTags: 15
    PingReviewersDaysBackThreshold: 7
    DefaultNextTagCount: 3
    
    StartUpMessage: 'Hello everyone!'
    StopMessage: 'Goodbye!'
    
    FailedPermissionRequestCooldownHours: 48
    
    RepRequirementToJoinReviewers: 3000
    DaysInReviewersGroupBeforeProcessingRequests: 1
    
    ReviewsCompleteBeforeProcessingRequestsAsReviewer: 100
    ReviewsTimeFrameDaysBeforeProcessingRequestsAsReviewer: 7
    
    InstallationLocation: 'docker example file'
  links:
    - socvr-chatbot-postgresql:db-container