 
socvr-chatbot:
  image: socvr/chatbot
  environment:
	- LoginEmail: email_address
	- LoginPassword: email_password
	- DatabaseConnectionString: connection_string
	- ChatRoomUrl: url
	- DefaultCompletedTagsPeopleThreshold: 3
	- MaxFetchTags: 15
	- PingReviewersDaysBackThreshold: 7
	- DefaultNextTagCount: 3
	- StartUpMessage: Hello everyone! (docker example file)
	- StopMessage: Goodbye! (docker example file)
	