<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CVChatBotEntities"
       connectionString="metadata=res://*/Model.DbModel.csdl|res://*/Model.DbModel.ssdl|res://*/Model.DbModel.msl;
          provider=System.Data.SqlClient;
          provider connection string=&quot;
            data source=SERVER;
            initial catalog=DATABASE;
            integrated security=True;
            MultipleActiveResultSets=True;
            App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
</connectionStrings>